.main {
  width: 1400px;
  height: 80%;
  background: #eff3f7;
  margin: 0 auto;
  font-size: 0;
  border-radius: 5px;
  overflow: hidden;
}

.header {
  width: 1400px;
  height: 75px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__avatar {
    position: relative;
    margin-right: 10px;
    img {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
  }
  &__name {
    text-align: center;
    font-size: 16px;
    color: #7e818a;
    font-weight: normal;
    margin-right: 20px;
    cursor: pointer;
  }
  &__logout {
    position: relative;
    width: 30px;
    height: 30px;
    margin-right: 20px;
    cursor: pointer;
  }
}

// ASIDE

.aside {
  width: 360px;
  height: 700px;
  background-color: #3b3e49;
  display: inline-block;
  font-size: 15px;
  position: relative;
  &__button {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    background: #5e616a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    line-height: 1;
    font-weight: 500;
    font-size: 32px;
    border: 0;
    cursor: pointer;
    transition: 0.2s;
    &:hover {
      background: #3b3e49;
    }
  }
  &__dialogs {
    overflow-y: auto;
    height: 690px;
  }
}

.search-aside {
  display: flex;
  align-items: center;
  padding: 10px 75px 10px 10px;
  width: 100%;
  background-color: #5e616a;
  border-radius: 3px;
  color:#fff;
  &__input {
    flex: 1 1 auto;
    color: #fff;
    &::placeholder {
      color: #fff;
    }
  }
  &__icon {
    width: 50px;
    height: 50px;
  }
}

.dialog-aside {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: 0.2s;
  &:hover {
    background-color: #5e616a;
  }
  &__avatar {
    width: 55px;
    height: 55px;
    margin-right: 8px;
    border-radius: 50%;
  }
  &__name {
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
  }
  &__message {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #7e818a;
    font-weight: normal;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &__status {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    &.green {
      background-color: #58b666;
    }
  }
}

// /ASIDE

// CHAT

.chat {
  display:inline-block;
  width: 1000px;
  height: 700px;
  vertical-align: top;
  &__header {
    height: 70px;
    font-size: 16px;
    color: #3b3e49;
    padding: 10px 20px;
  }
  &__messages {
    overflow-y: auto;
    height: 490px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  &__message {
    padding: 10px 30px;
    font-size: 13px;
    &.you {
      background-color: #58b666;
      border-color: transparent transparent #58b666 transparent;
      margin-left: 15px;
    }
    &.me {
      text-align: right;
      background-color: #6fbced;
      .chat__triangle {
        border-color: transparent transparent #6fbced transparent;
        margin-left: 900px;
      }
    }
  }
  &_time {
    color: #bbb;
    margin-bottom: 5px;
  }
  &__triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
  }
  &__text {
    padding: 20px;
    color: #fff;
    max-width: 90%;
    border-radius: 5px;
  }
  &__empty {
    font-size: 16px;
    font-weight: 500;
    color: #7e818a;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.sender-chat {
  height: 155px;
  padding: 20px 30px 10px 20px;
  &__text {
    resize: none;
    border: none;
    display: block;
    width: 100%;
    height: 80px;
    border-radius: 3px;
    padding: 20px;
    font-size: 13px;
    margin-bottom: 13px;
    &::placeholder {
      color: #ddd;
    }
  }
  &__button {
    text-transform: uppercase;
    font-weight: 700;
    color: #6fbced;
    margin-left: 900px;
    margin-top: 5px;
  }
}

// /CHAT